//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Sun 03 24 17:30:04 2024

IO_LOC "LCD_RS_O" 31;
IO_PORT "LCD_RS_O" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_EN_O" 29;
IO_PORT "LCD_EN_O" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_RW_O" 30;
IO_PORT "LCD_RW_O" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[7]" 41;
IO_PORT "LCD_DATA_O[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[6]" 38;
IO_PORT "LCD_DATA_O[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[5]" 39;
IO_PORT "LCD_DATA_O[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[4]" 42;
IO_PORT "LCD_DATA_O[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[3]" 35;
IO_PORT "LCD_DATA_O[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[2]" 34;
IO_PORT "LCD_DATA_O[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[1]" 20;
IO_PORT "LCD_DATA_O[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DATA_O[0]" 19;
IO_PORT "LCD_DATA_O[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RST_N_I" 13;
IO_PORT "RST_N_I" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK_I" 47;
IO_PORT "CLK_I" PULL_MODE=UP BANK_VCCIO=1.8;
